name = "PSRProgressBar"
uuid = "e78ae4d9-7c0a-4397-83ad-465eb5391708"
version = "0.1.1"

[compat]
julia = "1.6"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Aqua", "Test"]
